body{
    background: url(password.jpg);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.password-container {
    margin-bottom: 20px;
}

input[type="text"] {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
}
.input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
}


.button {
    position: relative;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
            82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
}

.settings {
    margin-top: 20px;
}

.settings h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.setting {
    margin-bottom: 10px;
}

.setting label {
    display: inline-block;
    width: 200px;
}


.setting input[type="number"],
.setting input[type="checkbox"] {
    margin-left: 10px;
}

.card {
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border: 1px solid #000000;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.22);
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}
.card:hover {
    box-shadow: 0 0 20px rgb(218, 0, 0);
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.13);
    border: 1px solid black;

}
input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}
.card h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}

input[type="checkbox"]:checked::before {
    content: "\2713";
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}